@import '_mixins';

$dark: #2ca25f;
$mid: #99d869;
$light: #e5f5f9;
$red: #f03b20;

.content {
    @media screen and (min-width: 1024px) {
        width: 1024px;
        margin: 0 auto;
    }
}

table#visits {

    width: 100%;

    /* border-collapse: collapse; // border-collapse doesn't play nicely with rounded corners -- */
    border-spacing: 0;

    @include rounded-table;

    td img {
        width: 48px;
        height: 48px;
    }
    th {
        background: $dark;
        padding: 0.25em;
    }
    td {
        border: solid 1px $mid;
    }
    tr.inactive td {
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
    td {
        background:$light;
        padding: 0.25em;

        &:first-child { /* .image? */
            width: 50px;
        }
        &.unpadded {
            padding: 0;
        }
        &.overdue {
            background: $red;
        }
        &.num {
            text-align: right;
            width: 3em;
        }
        &.time {
            text-align: center;
            width: 5em;
        }
    }

    select, button {
        border-radius: 0.25em;
        width: 100%;
        height: 100%;
    }
}

